/*
[Author]: John Bostater

[Project Start Date]: 5/11/24
*/



/*Text Font and Styling*/
/*************************************/
body{
    background-color: black;
    -webkit-text-fill-color: white;
}

/*************************************/


/*Containers*/
/*************************************/
.vertical0{
    /*Alignment of items*/
    text-align: center;    
}
/*************************************/



/*Buttons*/
/*************************************/
.goBack{
    position: absolute;
    width: 75px;
    height: 45px;
    border-radius: 10px;
    -webkit-text-fill-color: black;
    font-size: 15px;
}

.goBack:hover{
    background-color: lightblue;
    cursor: pointer;
}
/*************************************/