/*
[Author]: John Bostater

[Start Date]: 6/23/24

[Description]:
    //Description here....

*/


/*Text Styling*/
/******************************************/
/*Base text of the entire document*/
body{
    /*Set font and style*/
    font-size: 14px;    
    background-color: #1A1A1A;
}


/*Header style #1 [Large]*/
h1{
    /*Set font size & style*/
    font-size: 72px;
    font-family: 'Times New Roman', Times, serif;
    font-style: Italic;
    color: white;
}


/*Header style #2 [Medium]*/
h2{
    /*Set font size & style*/
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.link-Style{
    color: gray;
    font-size: 24px;
}

.refreshText{
    color: white;
    cursor: pointer;
}


/******************************************/



/*DropDown, Art, & Animation*/
/******************************************/

/*Select Timer*/
.selectTimer{
    height: 40px;
    width: 100px;
    background-color: purple;
    border-radius: 10px;
}


/*Timer*/
#timer{
    font-size: 30px;
    color: white;
}


/******************************************/


/*Container & Alignment*/
/******************************************/

/*Horizontal Container*/
.vertical0{
    text-align: center;
    gap: 20px;
}


/*Container for the window for the user to type along/enter their text*/
.typeTestBox{
    /*Set the input box's features*/
    background-color: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;

    /*Border color of the input box*/
    border-radius: 5px;
    border-color: white;
    
    /*Alignment & Positioning*/
    /*FIX ALIGNMENTS BELOW!!!*/
    width: 80%;
    height: 55vh;

    /*Text box blur and transition animation*/
    filter: blur(5px);
    transition: filter 0.6s ease;
    padding: 10px;
    
    /*Change the cursor color to orange*/
    caret-color: orange;
    cursor: pointer;
}

/*When the user focuses into the */
.typeTestBox:focus{
    color: red;
    
    filter: blur(0px);
}
/******************************************/