/*
[Author]: John Bostater

[Project Start Date]: 5/11/24
*/


/*Text Styling*/
/********************************************************************/
/*Base text of the entire document*/
body{
    /*Set font and style*/
    background-color: #1A1A1A;
}

/*Header style #1 [Large]*/
h1{
    /*Set font size & style*/
    font-size: 72px;
    font-family: 'Times New Roman', Times, serif;
    font-style: Italic;
    color: white;
    margin-bottom: 25px;
}

/*Styling for any links*/
.link-Style{
    color: gray;
    font-size: 24px;
    padding: 10px;
}

/*Refresh text, text*/
.refreshText{
    color: white;
    cursor: pointer;
}

/*Press any key to proceed*/
.proceedKey{
    color: white;
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
}

/********************************************************************/



/*DropDown, Art, & Animation*/
/******************************************/

/*DropDown (Select) Styling for all*/
.dropDown{
    background-color: #1A1A1A;
    font-weight: bold;
    font-size: 20px;
    -webkit-text-fill-color: white;
    border-color: transparent;
    appearance: none;
    color: white;
    outline: none;
}


/*Timer*/
#timer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: initial;
    font-size: 30px;
    color: red;
}


/*WPM*/
#wpmDisplay{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: initial;
    font-size: 30px;
    color: red;
}


/*Timer Header*/
.timerHeader{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: initial;
    font-size: 30px;
    color: white;
}


/*DEBUG!!*/
/******************************************/



/*Containers & Alignment*/
/******************************************/

/*Vertical Container*/
.vertical0{
    text-align: center;
}

/*KEEP!!! (Rename)*/
.spaceMe0{
    padding: 2%;    
}


/*Container for all of the live stats [Timer & Wpm]*/
.liveStatsContainer{
    color: white;
    font-size: 30px;
    padding: 25px;
}


/*Container for the window for the user to type along/enter their text*/
.typeTestBox{
    /*Set the input box's features*/
    background-color: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;

    /*Border color of the input box*/
    border-radius: 5px;
    border-color: white;
    
    /*Alignment & Positioning*/
    /*FIX ALIGNMENTS BELOW!!!*/
    width: 80%;
    height: 50vh;


    /*Text box blur and transition animation*/
    filter: blur(5px);
    transition: filter 0.6s ease;
    padding: 15px;
    
    /*Change the cursor color to orange*/
    caret-color: orange;
    cursor: pointer;

    /*Get rid of textarea highlight*/
    outline: none;
}

/*When the user focuses into the */
.typeTestBox:focus{
    /*Change the color of the text upon focus*/
    /*color: red;*/
    filter: blur(0px);
}


/*Container for all of the links to the external sites*/
.linkContainer{
    padding: 30px;
}
/******************************************/